@import url('general.css');

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4.125rem 5rem;
    width: 100%;
    height: 100vh;
}   

.about-me-title {
    width: 50%;
}

.about-me-title h1 {
    padding-bottom: 2.5rem;
}

.about-me-title p {
    color: var(--clr-body);
    font-size: 21px;
}

.about-me-container img {
    flex-basis: 100%;
    height: 700px;
}