@import url('general.css');

/* Skills */

.skills-container {
    padding: 10rem 5rem;
    height: 100vh;
}

.skills-title {
    padding-bottom: 7rem;
}

.skills-container ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    border-radius: 10px;
}

.skills-container ul li {
    background-color: var(--clr-bg-shade);
    padding: 1.5rem 0 1.5rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: ease 0.1s;
}

.skills-container ul li h3 {
    font-size: 25px;
    font-weight: bold;
    color: var(--clr-body);
    padding: 0 0 0.5rem 1rem;
}

.skills-container ul li p {
    padding: 0 1rem 1rem 1rem;
    width: 90%;
    line-height: 1.5rem;
}

.skills-container ul li:hover {
    color: var(--clr-primary);
    box-shadow: 0 3px var(--clr-primary);
}